Package: com.easy-z.bark
Name: BARK
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Make your keyboard more OLED friendly. 
Maintainer: Easy-Z
Author: Easy-Z
Section: Tweaks
